html, body, h1, h2, h3, p, ul, ol, li, a {
    padding: 0;
    border: 0;
    margin: 0;
}

body {
    padding: 20px 20px 20px 20px;
    font-family: 'Calibri', 'Times New Roman', Times, serif;
    color: rgb(4, 92, 98);
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(2, 73, 28);
}
h2 {
    margin: 20px 0 20px 0;
    text-align: center;
    color: rgb(2, 111, 106);
    
}
p {
    font-size: 16px;
    line-height: 1.5;
    margin: 10px 0 10px 0;
    
}
body {
    background-color: rgba(133, 164, 163, 0.422);
}

.nav > li {
    list-style-type: none;
    display: inline;
    margin: auto;
}

ul > li {
    padding: 0 40px 0 20px;
    list-style-type: none;
   
}
a {
    text-decoration: none;
}
a:hover {
    color: rgb(154, 116, 3);
}