/*
* Specified rules
*/
.animated_text {
    opacity: 0;
    transition: all .6s ease-in-out;
    transition-delay: 100ms;
    transform: translateX(-50px);
}

#name{
    font-size: 3rem;
    margin-bottom: 0px;
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-bottom-color: #e6e6dc;
}
#position_title{
    margin-top: 0.25rem;
    font-size: 1rem;
    font-family: input;
    font-weight: lighter;
    color: rgb(135, 147, 136);
}
.section_title {
    margin: 20px 0 20px 0;
    text-align: center;
    color: rgb(6, 119, 9);
    
}
/*
* Generic rules
*/
a:hover, .style_link:hover{
    color: rgb(10, 125, 138)    
}
a:visited{
    color: #115702;
}
body {
    font-family: 'consolas', 'Times New Roman', Times, serif;
    color: rgb(98, 103, 68);
    background-color: rgba(249, 249, 207, 0.42);
    margin: 1em auto;
    width: 75vw;
}
.dot_point{
    list-style-type: disc;
}
h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(81, 92, 59);
}
h3, .style_link{
    color: #115702;
}
li {
    list-style-type: none;
}
.menu_bottom{
    padding-top: 0.5rem;
}
.menu_top{
    padding-top: 2rem;
}
.menu_top, .menu_bottom {
    display: grid;
    gap: 0.5rem;   
}
.profile_image{
    width: 40%;
    height: 40%;
    border-radius: 50%;
}
.menu_item {
    padding: 0 20px;
    background-color: #fff;
    color: #6f8004;
    font-size: 1rem;
    text-decoration: none;
    text-align: center;
    border-top: 8px solid #e9eee0;
    box-shadow: 0px 0px 5px #ccc;
    transition: all 0.45ms ease-out;
}
.menu_item:hover{
    border-top: 8px solid #ffffff;
    box-shadow: 5px 5px 6px #bffcc8;
    font-weight: bold;
}
p {
    font-size: 1rem;
    line-height: 1.5;
    margin: 10px 0 10px 0.75rem;
}
#profile_header{
    display: flex;
    align-items: center;
}
#profile_names{
    flex-grow: 2;
    padding-left: 2rem;
}
.proj_header{
    text-align: center;
}
.proj_detail_ul{
    padding-left: 0.75rem;
}
.style_link{
    text-decoration: none;
}
.tiles{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1.5rem;
}
ul{
    padding-left: 2rem;
}
.tile{
    overflow: hidden;
    background-color: #e9eee0;
    transition: all 0.5s ease-in-out 0.1s;
}
.tile:hover{
    background-color: #ffffff;
    transform: scale(1.1);
}
.tile p {
        transform: translateX(-20%);
        transition-delay: 0.2s;
}
.tile:hover .animated_text{
    transform: translateX(0);
    opacity: 1;
}
.profile_image{
    width: 18%;
    height: 18%;
    border-radius: 50%;
}
@media (min-width: 700px) and (max-width: 1920px){
    .menu_top{
        grid-template-columns: repeat(4, 1fr);  
    }
    .menu_bottom{
        grid-template-columns: repeat(4, 1fr);
    }
}
@media(min-width: 1921px){
    .profile_image{
        width: 10%;
        height: 10%;
        border-radius: 50%;
    }
    .menu_top{
        grid-template-columns: repeat(4, 1fr);  
    }
    .menu_bottom{
        grid-template-columns: repeat(4, 1fr);
    }
    body{
        width: 50vw;
    }
    html{
        font-size: 120%;
    } 
}
@media(max-width: 700px){
    .tiles{
        grid-template-columns: repeat(1, 1fr);
        row-gap: 1.5rem;
    }
}
@media(max-width: 400px){
    html {
        font-size: 62.75%;
    }
    body{
        width: 95vw;
    }
    #name{
        font-size: 2rem;
    }
}
