/*
* Specified rules
*/
#name{
    font-size: 3rem;
    margin-bottom: 0px;
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-bottom-color: #e6e6dc;
}
#position_title{
    margin-top: 0.25rem;
    font-size: 1rem;
    font-family: input;
    font-weight: lighter;
    color: rgb(135, 147, 136);
}
.section_title {
    margin: 20px 0 20px 0;
    text-align: center;
    color: rgb(6, 119, 9);
    
}
/*
* Generic rules
*/
a:hover, .style_link:hover{
    color: rgb(10, 125, 138)    
}
a:visited{
    color: #115702;
}
body {
    font-family: 'consolas', 'Times New Roman', Times, serif;
    color: rgb(98, 103, 68);
    background-color: rgba(249, 249, 207, 0.42);
    margin: 1em auto;
    width: 75vw;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(81, 92, 59);
}
h3, .style_link{
    color: #115702;
}
li {
    list-style-type: none;
}
.menu_bottom{
    padding-top: 0.5rem;
}
.menu_top{
    padding-top: 2rem;
}
.menu_top, .menu_bottom {
    display: grid;
    gap: 0.5rem;   
}
.profile_image{
    width: 40%;
    height: 40%;
    border-radius: 50%;
}
.menu_item {
    padding: 0 20px;
    background-color: #fff;
    color: #6f8004;
    font-size: 1rem;
    text-decoration: none;
    text-align: center;
    border-top: 8px solid #e9eee0;
    box-shadow: 0px 0px 5px #ccc;
    transition: all 0.45ms ease-out;
}
.menu_item:hover{
    border-top: 0px solid;
    box-shadow: 5px 5px 6px #bffcc8;
}
p {
    font-size: 1rem;
    line-height: 1.5;
    margin: 10px 0 10px 0;
}
#profile_header{
    display: flex;
    align-items: center;
}
#profile_names{
    flex-grow: 2;
    padding-left: 2rem;
}
.style_link{
    text-decoration: none;
}
@media (min-width: 700px){
    .profile_image{
        width: 200px;
        height: 200px;
        border-radius: 50%;
    }
    .menu_top{
        grid-template-columns: repeat(4, 1fr);  
    }
    .menu_bottom{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media(max-width: 400px){
    html {
        font-size: 62.75%;
    }
}
